# FLASK Configuration
FLASK_SECRET_KEY="replace_with_a_secure_random_string"

# Admin Configuration
ADMIN_EMAIL="shrishail2071409@gmail.com"

# Email Configuration for OTP
SMTP_EMAIL="your_email@gmail.com"
SMTP_PASSWORD="YOUR_APP_PASSWORD_HERE"
